<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container">
            <div class="avatar" (click)="fileInput.click()">
                <input #fileInput type="file" style="display: none" (change)="onFileSelected($event)">
                <img *ngIf="imageUrl" [src]="imageUrl" class="avatar-image">
                <mat-icon class="icon">account_circle</mat-icon>
    
            </div>
            <p>Profil</p>
        </div>
        <!-- email-password-form.component.html -->
    
        
            <div class="content">
                <div>
                    <p class="username">Username : {{getUsername}}</p>
                     
                </div>
    
                 
            </div>
            <div class="formbutton">
                <button (click)="logout()"  class="firstB">Se Deconnecter</button>
                
            </div>
         
    
    
    </main>
    
</body>
</html>


