<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="avatar" (click)="fileInput.click()">
                <input #fileInput type="file" style="display: none" (change)="onFileSelected($event)">
                <img *ngIf="imageUrl" [src]="imageUrl" class="avatar-image">
                <mat-icon class="icon">account_circle</mat-icon>
    
            </div>
            <p>S'inscrire</p>
        </div>
        <form [formGroup]="usernamePasswordForm" (ngSubmit)="onSubmit()">
            <div class="contentOne">
                <div>
                    <label for="username"></label>
                    <input type="text" id="username" formControlName="username" placeholder="Entrez votre nom d'utilisateur">
                    <div *ngIf="usernamePasswordForm.get('username')?.errors && usernamePasswordForm.get('username')?.touched">
                        <div *ngIf="usernamePasswordForm.get('username')?.hasError('required')" class="verification">Nom d'utilisateur requis</div>
                        <div *ngIf="usernamePasswordForm.get('username')?.hasError('minlength')" class="verification">Nom d'utilisateur trop court</div>
                    </div>
                </div>
    
                <div class="password-container">
                    <label for="password"></label>
                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Entrez votre mot de passe">
                    <mat-icon class="eye-icon" (click)="togglePasswordVisibilit()">
                        {{ showPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <div *ngIf="usernamePasswordForm.get('password')?.errors && usernamePasswordForm.get('password')?.touched">
                        <div *ngIf="usernamePasswordForm.get('password')?.hasError('required')" class="verification">Mot de passe requis</div>
                    </div>
                </div>
                <div class="password-container">
                    <label for="confirm"></label>
                    <input [type]="showConfirm ? 'text' : 'password'" id="confirm" formControlName="confirm" placeholder="confirmer votre mot de passe">
                    <mat-icon class="eye-icon" (click)="togglePasswordVisibility()">
                        {{ showConfirm ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <div *ngIf="usernamePasswordForm.get('confirm')?.errors && usernamePasswordForm.get('confirm')?.touched">
                        <div *ngIf="usernamePasswordForm.get('confirm')?.hasError('required')" class="verification">Mot de passe de confirmation requis</div>
                    </div>
                </div>

                <!-- <input type="text" placeholder="Entrez votre username">
                <input type="text" placeholder="Entrez votre password">
                <input type="email" placeholder="Confirmez votre password"> -->
                
            </div>
            
            <div class="formbutton">
                <button (click)="signIn()"  class="firstB">Soumettre</button>
                <p>or connect with</p>
                <div class="connectPart">
                    <button><i class="material-icons">mail</i></button>
                    <button><i class="material-icons">facebook</i></button>
                    
                </div>
                <p> <i> already have an account <span (click)="goToLogin()">Login</span></i></p>
            </div>
        </form>
    </main>
</body>
</html>