<div class="modal-backdrop" (click)="closeForm()"></div>
<div class="modal-content">
  <h2>Link creation form</h2>
  <form>
    <div class="form-group">
      <input type="text" name="name" placeholder="Link name" required />
    </div>
    <div class="form-group">
      <input type="url" name="url" placeholder="URL link" required />
    </div>
    <div class="form-group">
      <input type="text" name="category" placeholder="Link category" required />
    </div>
    <div class="form-group">
      <input type="text" name="hashtags" placeholder="Link hashtags" required />
    </div>
    <button type="submit">Create</button>
  </form>
</div>
