<div class="modal-backdrop" (click)="closeForm()"></div>
<div class="modal-content">
  <h2>Link creation form</h2>
  <form  [formGroup]="linkValidator" (ngSubmit)="createLink()">
    <div class="form-group">
      <input formControlName="name" type="text" name="name" placeholder="Link name" required />
    </div>
    <div class="form-group">
      <input type="url" formControlName="link" name="link" placeholder=" ink URL" required />
    </div>
    <div class="form-group">
      <input type="text" formControlName="category" name="category" placeholder="Link category" required />
    </div>
    <div class="form-group">
      <input type="text" name="hashtags" formControlName="hashtags" placeholder="Link hashtags" required />
    </div>
    <button  type="submit" >Create</button>
  </form>
</div>
