.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom right, #003366, #002244);
    color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1em;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: calc(100% - 20px);
    margin: 0 auto;
    display: block;
    background: transparent;
    color: white;
  }
  
  input::placeholder {
    color: #bbb;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
  
  button {
    padding: 10px;
    background: linear-gradient(to right, #003366, #004488);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
    display: block;
  }
  
  button:hover {
    background: linear-gradient(to right, #002244, #003366);
  }
  