<div class="container">
    <h2>About Us</h2>
    <div class="about-content">
      <p>We are young talented students from Burkina Institute of Technology in their undergraduate year. Specialized in mobile and web application development. This group project focuses on the development of an Angular application with Debuglinks API. Contact us for more services.</p>
      <p><strong>MANEK</strong> is the combination of Mike, Adjasco, Naomie, Elysée and Kongo</p>
    </div>
  </div>
  <div class="contact-container">
    <h3>Contact Us:</h3>
    <div class="icons">
      <mat-icon>google</mat-icon>
      <mat-icon>facebook</mat-icon>
      <mat-icon>linkedin</mat-icon>
    </div>
    <div class="phone-numbers">
      <p>70 00 00 00</p>
      <p>70 00 00 00</p>
      <p>70 00 00 00</p>
    </div>
  </div>
  