<header>
  <!-- <div class="menu-icon" (click)="toggleMenu()">&#9776;</div>
  <ul class="men" [class.active]="isMenuOpen">
    <li (click)="goToProfil()">Profil</li>
    <li (click)="goToAbout()">About</li>
    <li class="active">Home</li>
  </ul>
  <div class="profile-pic">
    <img src="url_de_votre_image" alt="Profile Picture" class="profile-pic">
  </div> -->
  <nav>
    <input type="checkbox" id="sidebar-active">
    <label for="sidebar-active" class="open-sidebar-button">
      <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
    </label>
    <label id="overlay" for="sidebar-active"></label>
    <div class="links-container">
      <label for="sidebar-active" class="close-sidebar-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
      </label>

      
      <a  (click)="goToHome()" >Home</a> 
      <a> About Us</a> 
      <a (click)="goToProfil()">Profil</a> 
      
      
    </div>
  </nav>
</header><div class="container">
    <h2>About Us</h2>
    <div class="about-content">
      <p>We are young talented students from Burkina Institute of Technology in their undergraduate year. Specialized in mobile and web application development. This group project focuses on the development of an Angular application with Debuglinks API. Contact us for more services.</p>
      <p><strong>MANEK</strong> is the combination of Mike, Adjasco, Naomie, Elysée and Kongo</p>
    </div>
  </div>
  <div class="contact-container">
    <h3>Contact Us:</h3>
    <div class="icons">
      <mat-icon>google</mat-icon>
      <mat-icon>facebook</mat-icon>
      <mat-icon>linkedin</mat-icon>
    </div>
    <div class="phone-numbers">
      <p>70 00 00 00</p>
      <p>70 00 00 00</p>
      <p>70 00 00 00</p>
    </div>
  </div>
  