body {
    margin: 0;
    padding: 0;
    
    /* Couleur de fond dégradé */
    height: 100vh; /* Fait en sorte que le fond occupe toute la hauteur de la fenêtre */
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    /* Couleur de fond par défaut */
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    font-size: 25px;
    /* Taille de l'icône */
    color: white;
    /* Couleur de l'icône */
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* Assurez-vous que l'image est également un cercle */
}
.container p{
    color: white;
    font-weight: bold;

}
.contentOne, .contentTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.contentOne input[type="password"],
.contentOne input[type="text"]{
  width: 300px; /* Largeur des champs */
  height: 40px; /* Hauteur des champs */
  border-radius: 15px;
}

.contentTwo{
    margin-top: 15px;
}

.verification{
    color: orange;
}
.formbutton{
    text-align: center;
}

.formbutton .firstB{
     margin-top: 50px;
    width: 350px;
    height: 50px;
    color: white;
    background: linear-gradient(to bottom, rgba(1, 20, 53, 1), rgba(1, 56, 132, 1));
    /* Autres styles de mise en forme du bouton */

    border: 2px solid white;
    /* Bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 10px;
    /* Espacement interne */
    font-size: 16px;
    /* Taille de la police */
    cursor: pointer;
}
.formbutton p{
    margin-top: 30px;
    color: white;
    font-weight: bold;
}
.connectPart button {
    margin-top: 10px;
    margin-right: 10px; /* Espacement horizontal entre les boutons */
    width: 100px;
    height: 45px;
    color: white;
    /*background: linear-gradient(to bottom, rgba(1, 20, 53, 1), rgba(1, 56, 132, 1));
     Autres styles de mise en forme du bouton */

    border: 2px solid white;
    /* Bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 10px;
    /* Espacement interne */
    font-size: 16px;
    /* Taille de la police */
    cursor: pointer;
}
.connectPart i, span{
    color: orange;
}
/* Pour les écrans de petite taille */
@media screen and (max-width: 600px) {
    .contentOne, .contentTwo {
        flex-direction: column;
        gap: 20px;
        align-items: center; /* Centrer les éléments horizontalement */
    }
    .formbutton .firstB {
        width: 63%;
    height: 45px;
    }
}

/* Pour les écrans de taille moyenne */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .contentOne, .contentTwo {
        gap: 30px;
        align-items: center; /* Centrer les éléments horizontalement */
    }
    
}

/* Pour les écrans de grande taille */
@media screen and (min-width: 1025px) {
    .contentOne, .contentTwo {
        gap: 50px;
        align-items: center; /* Centrer les éléments horizontalement */
    }
}
