
   <div class="container">
    <header>
       <ul class="men">
        <li (click)="goToProfil()">Profil</li>
        <li (click)="goToAbout()">About  </li>
        <li class="active">Home</li>
      </ul>
      <div class="profile-pic"> <!-- Ajoute ici l'image de profil --> </div>
    </header>
    <main>
      <div class="search-create">
        <input type="text" [(ngModel)]="searchTerm" (keypress)="search()" placeholder="search by name or category............" />
        <button (click)="openLinkForm()">Create link</button>
      </div>
      <table>
        <thead>
          <tr>
           
            <th>Name</th>
            <th>Category</th>
             <th>Hashtags</th>
           </tr>
        </thead>
        <tbody>
          <tr *ngFor="let link of links">
              <td > <a href= "{{ link.link}}" target="_blank"> {{ link.name }}</a></td>
            <td> <a href="{{ link.link}}" target="_blank"> {{ link.category }}</a> </td>
            <td> <a href="{{ link.link}}" target="_blank"> {{ link.hashtags }}</a> </td>
             
          </tr>
        </tbody>
      </table>
    </main>
  </div>
  <app-side-menu *ngIf="isMenuOpen"></app-side-menu>
  <app-link-form *ngIf="isFormOpen" (formClosed)="closeLinkForm()"></app-link-form>
  