<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <header>
      <h1>MANEK</h1>
      <p>DEBUGLINKS</p>
    </header>
  
    <div class="inside">
      <p class="welcome">Welcome <br> to our debuglinks application</p>
      <div class="login">
        <p class="logText">Login to continue</p>
        <div class="logbuttom">
          <button (click)="goToLogin()">Login</button>
          <button (click)="goToSign()">SignUp</button>
        </div>
      </div>
    </div>
   
  </main>
</body>
</html>